main{
    perspective: 800px;
}
#titulo_postagem{
    margin-top: -1.5vh;
}
#autor_postagem{
    margin-bottom: -1.5vh;
}
#texto_postagem{
    max-height: 100px;
    overflow: hidden;
    text-align: justify;
    text-overflow: ellipsis;
}
#postagem{
    transform-style: preserve-3d;
    transition: 1s;
}
#postagem:hover{
    box-shadow: 0px 0px 10px blue;
    transform:scale(1.02)
}

.bodyLogin {
    background-image: url('/images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.bodyEstatistica {
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-containerLogin {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bodyCadastro {
    background-image: url('/images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.form-containerCadastro {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.containerConta {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}